<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/CSS/style.css">
    <title>Aula 27.08.2026</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="content">
                <h1><strong>Painel do Aluno (VIEW)</strong></h1>
                <p>Clique no botão para buscar uma imagem do servidor:</p>
                <button type="button" class="btn" onclick="buscarDados()">Carregar Dados</button>
                <h3 id="mensagem" style="color: #0e7490; margin-top: 15px;"></h3>
            </div>
        </div>
    </div>

    <script src="./static/JS/script.js"></script>
</body>
</html>